<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>

    <link href="editor.css" rel="stylesheet">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Hello Amethyst!</h1>

      <div class="root">
        <div class="left">
          <div class="entities">
            <h2>Entities</h2>
            <ul>
              <li
                v-for="entity in entities"
                v-bind:class="{ 'entities__entity--selected': entity.id === selectedEntity }"
                class="entities__entity"
              >
                <button v-on:click="selectEntity(entity.id)">{{ entity.id }}</button>
              </li>
            </ul>
          </div>
        </div>

        <div v-if="selectedEntity !== null" class="right">
          <div v-if="transforms[selectedEntity] !== undefined">
            <h3>Transform</h3>
            <ul>
              <li v-for="(value, field) in transforms[selectedEntity]">
                {{ field }}: {{ value }}
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <script>
      const { app } = require('./renderer.js');
    </script>
  </body>
</html>
